* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 50%;
  background: linear-gradient(127deg, #480ca8, #7209b7);
  border-radius: 0 0 50% 10%/0 0 70% 80%;
  transform: scaleX(1.23);
}

nav {
  position: relative;
  background: linear-gradient(127deg, #480ca8, #7209b7);
  /* background-color: black; */
  /* padding: 0.5rem; */
  height: 7vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 3px -2px rgba(117, 88, 88, 0.2);
}
.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-right: 2rem; */
}
.nav-links li {
  color: white;
  margin: 1rem;
}
.nav-links li:hover {
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  background: #480ca8;
}

/* homepage */

.main {
  line-height: 1.5rem;
  max-width: 90%;
  margin: 8rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.intro-card {
  /* margin-right: 5rem; */
  width: 70%;
  width: 620px;
  height: 260px;
  padding: 2rem;
  border-radius: 20px;
  background: white;
  box-shadow: 0 5px 5px -2px rgba(117, 88, 88, 0.5);
}

.element {
  width: 20%;
  margin-left: 15rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
  nav {
    height: 15vh;
    display: flex;
    flex-direction: column;
  }
  .nav-links {
    margin-top: 1rem;
  }
  .main {
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .element {
    margin: auto;
    width: 200px;
    height: 210px;
    border-radius: 30px;
  }
  .intro-card {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px -2px rgba(117, 88, 88, 0.5);
  }

  .section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 48%;
    background: linear-gradient(45deg, #480ca8, #7209b7);
    border-radius: 0;
    transform: scaleX(1.27);
  }
}

/* About */

.head {
  align-items: center;
}
.title {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: #480ca8;
}
.under {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: #480ca8;
  margin-left: auto;
  margin-right: auto;
}
.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #480ca8;
}
.card {
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  font-size: 1rem;
  margin: auto;
  margin-top: 2rem;
  width: 720px;
  height: 100%;
  box-shadow: 0 5px 5px -2px rgba(117, 88, 88, 0.5);
  border-radius: 30px;
}
.card p {
  max-height: 100%;
}

/* .lang {
  padding-top: 30px;
} */
.lan {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 3rem;
    width: 320px;
    height: 100%;
  }
}
